* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.liBtn {
  border: none;
  font-size: 0.9em;
  margin-right: 1em;
  color: rgb(94, 148, 247);
}

.categoryH6 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.titleH3 {
  font-weight: bold;
  color: black;
}

.authorH6 {
  color: rgb(94, 148, 247);
  font-size: 0.9em;
}

.circleDiv {
  height: 4em;
  width: 4em;
  border-top: 4px solid rgb(94, 148, 247);
  border-right: 4px solid rgb(94, 148, 247);
  border-bottom: 4px solid rgb(94, 148, 247);
  border-radius: 50%;
  align-self: center;
  transform: rotate(55deg);
}

.progressBtn {
  color: white;
  background-color: rgb(94, 148, 247);
  border: none;
  white-space: nowrap;
  border-radius: 3%;
}

.bookInput {
  border-color: rgba(0, 0, 0, 0.116);
  padding: 0.6em;
}
